.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 88vh;
  background-color: #c3b2c9;
  border-right: 1px solid #ddd;
  padding: 20px 15px;
  z-index:01;
  border-right: #c3b2c9;
}

.sidebar-logo {
  font-weight: bold;
  margin-bottom: 30px;
  font-family:Arial, Helvetica, sans-serif;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.menu-item i {
  font-size: 20px;
}

.menu-item:hover {
  background-color: #f0f2f5;
}
